<!DOCTYPE html>
<html>
  <head>
    <title>PersonalWebsite</title>
  </head>
  <body>
    <div class="container" id='app'></div>
    <script type="text/javascript" src="bundle.js"></script></body>
  </body>
</html>