@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../../node_modules/font-awesome/css/font-awesome.min.css";
@import "../../node_modules/flag-icon-css/css/flag-icon.css";
@import "../../node_modules/react-select/dist/react-select.css";

body {
  background: #ffffff ;
  //background: #fc00ff; /* fallback for old browsers */
  //background: -webkit-linear-gradient(to bottom, #fc00ff , #00dbde); /* Chrome 10-25, Safari 5.1-6 */
  //background: linear-gradient(to left, #fc00ff , #00dbde); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-top: 0px;
}

a {
  color: inherit;
}